<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>recipes4charity</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/linearicons.css" rel="stylesheet">
    <!--=== plugins ===-->
    <!-- <link href="../css/owl.carousel.css" rel="stylesheet"> -->
    <!-- <link href="../css/owl.theme.css" rel="stylesheet"> -->
    <!--=== end plugins ===-->
    <!-- <link rel="shortcut icon" href="../images/favicon.ico"> -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,900,700,600,300,200' rel='stylesheet' type='text/css'>
</head>

<body data-spy="scroll" data-target=".nav-top">
    <!--======== header =========-->
    <header id="home" data-spy="scroll" data-target="#top-nav">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- menu 4 -->
                <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation" style="background-color: #ff7657;">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-4"
                                aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand default-logo scroll" href="#home">
                                <img src="../images/chef.png" alt="logo" />recipes4charity</a>
                        </div>
                        <div class="collapse navbar-collapse top-nav" id="menu-4">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="scroll" href="#about">About</a></li>
                                <!-- <li><a class="scroll" href="#service">What we do</a></li> -->
                                <li><a class="scroll" href="#recipes" id="recipesMenu">Recipes</a></li>
                                <li><a class="scroll" href="#contact">Contact</a></li>
                                <li><a class="scroll" href="/login">Login</a></li>
                                <li><a class="scroll" href="/register">Register</a></li>
                                <li style="display: none;"><a class="scroll" href="">Logout</a></li>
                                <li><button type="button" class="btn btn-default navbar-btn" id="emailBtn"><a class="scroll"
                                            href="mailto:wayne@eccentrictoad.com">email
                                            us</a></button></li>
                            </ul>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--======== end header =========-->

    <!--======== intro =========-->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <div class="intro-content">
                        <h1>recipes4charity</h1>
                        <p><strong>"The highest form of understanding we can achieve are laughter and human
                                compassion."<em> - Richard P. Feynman</em></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== end intro =========-->

    <!--======== about us =========-->
    <section class="about-us" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="section-title">About Us</h1>
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="about-content">
                        <p>In these tough times, charities are struggling more than ever to make ends meet. Donor
                            apathy is at an all time high, largely because of economy and the as a result charities
                            aggressively push for donations to help make ends meet.
                        </p>

                        <p>Sadly this is a very short term approach, donor fatigue is affecting millions of people
                            across the globe and donors do not feel engaged and often are donating to charities that
                            they struggle to identify with.
                        </p>

                        <p>We all know that not everyone can empathise and sympathise with every plight and individual
                            donors empathise with charities that resonate with them, whether that is HIV, animal
                            welfare, mental health, sea rescue or combating a disease or crime.
                        </p>

                        <p>We at recipes4charity believe strongly that if a donor feels they are receiving some
                            recognition causes them to feel involved and are more inclined to donate more.
                        </p>

                        <p>We are trying to raise R10 million for charities all across South and Southern Africa but we
                            believe that You, the donor is the one to choose. Furthermore you will receive up to 30
                            recipes a month for your small contribution or R150 per per month and choosing the charity
                            that resonates with YOU.
                        </p>
                        <p>We want to make a difference and together with all these small amounts we hope to raise R10
                            million over the next 12 months. Register and choose your charity and you can enjoy the
                            culinary delights knowing you are making a difference to the charity of your choice.
                        </p>

                    </div>
                </div><br><br><br>
                <div class="col-md-7 col-xs-12" style="display: flex; flex-direction: column; align-content: flex-end;">
                    <div class="about-img"><img class="img-responsive" src="../images/foodCover.jpg" alt="about us image"
                            style="border: 1px solid transparant; border-radius: 7px; width: 80%; margin-left: 10%;" /></div>
                </div>
            </div>
        </div>
    </section>
    <!--======== end about us =========-->

    <!--======== Our Services =========-->
    <!-- <section id="service" class="service">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="section-title">What we do</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="media">
                                <div class="media-left">
                                    <i class="lnr lnr-magic-wand"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">How it works</h3>
                                    <p><strong>Your small monthly contribution of R150 entitles you to pull 4 random
                                            recipes a day or
                                            4 recipes based on ingredients you specify.</strong></p>
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left">
                                    <i class="lnr lnr-code"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Get the instructions</h3>
                                    <p><strong>You can click on the card and get up to two recipes with instructions on
                                            any given day.</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="media">
                                <div class="media-left">
                                    <i class="lnr lnr-database"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Your Charity</h3>
                                    <p><strong>When you register and sign up, you will choose your charity, if your
                                            charity of choice is not there, simply ask your charity to contact us or
                                            just drop us a mail.</strong></p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="lnr lnr-chart-bars"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">And the Money?</h3>
                                    <p><strong>Recipes4charity will cover costs and then all the remaining money goes
                                            to the specified charities. Please see FAQ for a detailed breakdown.</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="media">
                                <div class="media-left">
                                    <i class="lnr lnr-users"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">What charities will we accept?</h3>
                                    <p><strong>Any registered NPO / Charity that is a PBO or can issue a S18a stmnt.
                                        </strong></p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="lnr lnr-bicycle"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Which Charities will we not accept?</h3>
                                    <p><strong>In short, non registered charities or charities / organisations that
                                            have a religious or political agenda.</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="media">
                                <div class="media-left">
                                    <i class="lnr lnr-earth"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Mailing List</h3>
                                    <p><strong>If you choose to join our mailing list, you will recive a free random
                                            recipe everyday.</strong></p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="lnr lnr-laptop-phone"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">Charity Reporting</h3>
                                    <p><strong>You will recive a monthly breakdown of our progress, to whom your
                                            contribution has gone and where we are in relation to our targets.</strong></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--======== end Our Services =========-->

    <!--======== Our portfolio =========-->
    <section id="recipes" class="work">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div id="getRecipes" style="  display: flex; flex-direction: column; width: 100%;">
                            <button class="btn btn-default " id="getRecipesBtn">Search Recipes</button>
                    </div>
                    <div id="showSearch" style="display: none">
                    <form class="form-inline my-2 my-lg-0" style="display: flex; flex-direction: column; width: 100%; justify-content: space-between; align-content: center;  padding: 2%;"
                        id="getReicipesFormA">
                        <div id="random" style="  display: flex; flex-direction: column; width: 100%;">
                            <button class="btn btn-default " id="randomRecipeBtn">Random Recipe</button>
                        </div>
                        <div id="search" style="  display: flex; flex-direction: column; width: 100%;">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search By ingredient"
                                aria-label="Search" style="margin:5% 0%;" id="searchIngredientInput">
                            <button class="btn btn-default " type="submit" id="searchIngredientBtn">Search</button>
                        </div>
                    </form>
                    <form class="form-inline my-2 my-lg-0" style="display: flex; flex-direction: column; width: 100%; justify-content: space-between; align-content: center;  padding: 2%;"
                        id="getReicipesForm">

                        <div id="searchComplex" style="  display: flex; flex-direction: column; width: 100%;">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search Query" aria-label="Search"
                            style="margin:5% 0%;" id="searchComplexIngredientInput">

                            <!-- <div id="search" style="  display: flex; flex-direction: column; width: 100%;">   -->
                            <select class="form-control mr-sm-2" name="" id="diet" style="margin:5% 0%;">
                                <option value="0">Choose Diet if applicable</option>
                                <option value="pescetarian">pescetarian</option>
                                <option value="lacto+vegetarian">lacto vegetarian</option>
                                <option value="ovo+vegetarian">ovo vegetarian</option>
                                <option value="vegan">vegan</option>
                                <option value="paleo">paleo</option>
                                <option value="primal">primal</option>
                                <option value="vegetarian">vegetarian</option>
                            </select>
                            <select class="form-control mr-sm-2" name="" id="cuisine" style="margin:5% 0%;">
                                <option value="0">Choose cuisine if applicable</option>
                                <option value="african">african</option>
                                <option value="chinese">chinese</option>
                                <option value="japanese">japanese</option>
                                <option value="korean">korean</option>
                                <option value="vietnamese">vietnamese</option>
                                <option value="thai">thai</option>
                                <option value="indian">indian</option>
                                <option value="british">british</option>
                                <option value="irish">irish</option>
                                <option value="french">french</option>
                                <option value="italian">italian</option>
                                <option value="mexican">mexican</option>
                                <option value="spanish">spanish</option>
                                <option value="middle+eastern">middle eastern</option>
                                <option value="jewish">jewish</option>
                                <option value="american">american</option>
                                <option value="ajun">cajun</option>
                                <option value="southern">southern</option>
                                <option value="cajun">cajun</option>
                                <option value="greek">greek</option>
                                <option value="german">german</option>
                                <option value="nordic">nordic</option>
                                <option value="eastern+european">eastern european</option>
                                <option value="caribbean">caribbean</option>
                                <option value="latin+american">latin american</option>
                            </select>


                            <select class="form-control mr-sm-2" name="" id="mealType" style="margin:5% 0%;">
                                <option value="0">Choose recipe type applicable</option>
                                <option value="main+course">main course</option>
                                <option value="side+dish">side dish</option>
                                <option value="dessert">dessert</option>
                                <option value="appetizer">appetizer</option>
                                <option value="salad">salad</option>
                                <option value="bread">bread</option>
                                <option value="breakfast">breakfast</option>
                                <option value="soup">soup</option>
                                <option value="beverage">beverage</option>
                                <option value="drink">drink</option>
                            </select>

                            <select class="form-control mr-sm-2" name="" id="intolerances" style="margin:5% 0%;">
                                <option value="0">Choose intolerances if applicable</option>
                                <option value="dairy">dairy</option>
                                <option value="egg">egg</option>
                                <option value="gluten">gluten</option>
                                <option value="peanut">peanut</option>
                                <option value="sesame">sesame</option>
                                <option value="seafood">seafood</option>
                                <option value="shellfish">shellfish</option>
                                <option value="soy">soy</option>
                                <option value="sulfite">sulfite</option>
                                <option value="tree+nut">tree nut</option>

                            </select>
                            <button class="btn btn-default " type="submit" id="searchComplexBtn">Search</button>
                        </div>
                        </form>
                    </div>
                </div>
                


                <div class="alert alert-danger connectionError" role="alert" style="display: none;">
                    There is a problem, Please try again later!
                </div>
                <!-- </div> -->
            </div>
            <div class="row" style="display: flex; justify-content: space-evenly; ">
                <div class="col-md-12 col-sm-12 col-xs-12" id="recipeDisplay" style="display: flex; justify-content: flex-start; flex-wrap: wrap;">
                </div>
            </div>
        </div>
    </section>
    <!--======== contact =========-->

    <!--======== Individual Recipe =========-->
    <section class="about-us" id="individualRecipeDisplay" style="display: none;">
        <div id="closeDiv" style="font-size: 2rem; display: flex; justify-content: flex-end; margin: 0 15;">
            <button class="btn btn-default closeBtn" id="closeBtn">Close</button>
        </div>
        <div class="container">
            <div class="row">
                <div id="recipeHeader">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h3 class="section-title">Recipe!</h3>
                        <h4 class="section-title" id="recipeTitle"></h4>
                        <h5 class="section-title" id="recipeServes">
                            </h4>
                    </div>
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <img class="card-img-top" src="" alt="recipe image" id="recipeImage" style="border: 1px solid #ff7657; border-radius: 7px;">
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="card" style="width: 100%">
                        <div class="card-header" style="font-weight: bold; display: flex; justify-content: center; margin: 2rem 0;">
                            Ingredients
                        </div>
                        <ul class="list-group list-group-flush" id="ingredientUL">
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="card" style="width: 100%">
                        <div class="card-header" style="font-weight: bold; display: flex; justify-content: center;margin: 2rem 0;">
                            Instructions
                        </div>
                        <ul class="list-group list-group-flush" id="instructionsUL">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== end about us =========-->


    <section id="contact" class="contact">
        <form action="" method="">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="section-title">Contact Us!</h2><br><br><br>
                            <div class="alert alert-success" role="alert" id="contactSuccess" style="display: none;">
                                We will be in contact as soon as possible!
                            </div>
                            <div class="alert alert-danger" role="alert" id="contactFailure" style="display: none;">
                                There was a problem, Please try again later!
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <input type="Email" class="form-control" id="contactEmail" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contactName" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="contactPhone" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control textarea" rows="5" placeholder="Message" id="contactMessage"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-default " id="contactBtn">Send Message</button>
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline social-links text-center">
                            <li><a href="#" target="_blank"> <i class="fa fa-facebook-square"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--======== end contact =========-->

    <!--======== footer =========-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-md-12 text-center">

                    <p><a href="http://www.freepik.com">Logo Designed by Ajipebriana / Freepik</a> | Website By <a href="https://www.eccentrictoad.com"
                            target="_blank">The Eccentric Toad</a> | Images
                        from
                        <a href="http://www.unsplash.com">Unsplash.com</a> | All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!--======== end footer =========-->

    <!--======== All Javascript =========-->
    <script src="../js/jquery-2.1.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
    <script src="../js/owl.carousel.min.js"></script>

    <script src="../js/custom.js"></script>
    <script src="../js/recipeFunctions.js"></script>



    <script src="../js/data.js"></script>
    <script src="../js/thankyou.js"></script>


</body>

</html>