<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>recipes4charity</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet">
        <link href="../css/linearicons.css" rel="stylesheet">
        <!--=== plugins ===-->
        <!-- <link href="../css/owl.carousel.css" rel="stylesheet"> -->
        <!-- <link href="../css/owl.theme.css" rel="stylesheet"> -->
        <!--=== end plugins ===-->
        <!-- <link rel="shortcut icon" href="../images/favicon.ico"> -->
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/responsive.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,900,700,600,300,200' rel='stylesheet' type='text/css'>
</head>
<body>
        <header id="home" data-spy="scroll" data-target="#top-nav">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- menu 4 -->
                        <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation" style="background-color: #ff7657;">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-4"
                                        aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand default-logo scroll" href="/">
                                        <img src="../images/chef.png" alt="logo" />recipes4charity</a>
                                </div>
                                <div class="collapse navbar-collapse top-nav" id="menu-4">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a class="scroll" href="/register">Subscribe</a></li>
                                        <li><a class="scroll" href="/">Home</a></li>
                                        <li style="display: none;"><a class="scroll" href="">Logout</a></li>
                                        <li><button type="button" class="btn btn-default navbar-btn" id="emailBtn"><a class="scroll"
                                                    href="mailto:wayne@eccentrictoad.com">email
                                                    us</a></button></li>
                                    </ul>
        
        
        
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--======== end header =========-->
            <div class="container">   
                    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                   
                        <div class="panel panel-info" >
                                <div class="panel-heading">
                                    <div class="panel-title">Sign In</div>
                                    <!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>-->
                                </div>    
             
                                <div style="padding-top:30px" class="panel-body" >
                                                                                   
                                    <form id="loginform" class="form-horizontal" role="form" method="post" action="/login">
                                               
                                        <div style="margin-bottom: 25px" class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input id="login-username" type="text" class="form-control" name="user_name" value="" placeholder="username">                                       
                                                </div>
                                           
                                        <div style="margin-bottom: 25px" class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                    <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                                </div>
                                               
             
                                           
                                        <div class="input-group">
                                                  <div class="checkbox">
                                                    <label>
                                                      <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                                    </label>
                                                  </div>
                                                </div>
             
             
                                            <div style="margin-top:10px" class="form-group">
                                                <!-- Button -->
             
                                                <div class="col-sm-12 controls">
                                                  <button id="btn-login" type="submit" class="btn btn-success">Login  </button>
                                                 
             
                                                </div>
                                            </div>
             
             
                                            <div class="form-group">
                                                <div class="col-md-12 control">
                                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                                        Don't have an account!
                                                    <a href="/register">
                                                        Subscribe Here
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>   
                                        </form>    
             
             
             
                                    </div>                    
                                </div> 
                    </div>
                   
                </div>


                <!--======== footer =========-->
    <!-- <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-md-12 text-center">
    
                        <p><a href="http://www.freepik.com">Logo Designed by Ajipebriana / Freepik</a> | Website By <a href="https://www.eccentrictoad.com"
                                target="_blank">The Eccentric Toad</a> | Images
                            from
                            <a href="http://www.unsplash.com">Unsplash.com</a> | All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer> -->
        <!--======== end footer =========-->
    
        <!--======== All Javascript =========-->
        <script src="../js/jquery-2.1.1.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
        <script src="../js/owl.carousel.min.js"></script>
    
        <script src="../js/custom.js"></script>
        <script src="../js/recipeFunctions.js"></script>
    
    
    
        <script src="../js/data.js"></script>
        <script src="../js/thankyou.js"></script>
    
</body>
</html>